* {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    padding: 20px;
    column-gap: 5px;
    row-gap: 4px;
    grid-template-columns: 1fr 1fr 1fr ;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    height: 700px;
    width: 600px;
    margin: 70px;
    margin-left: 90px;
}

body {
    background-color: rgb(119, 165, 240);
}

input {
    margin: 30px;
    margin-top: 80px;
    margin-bottom: -30px;
    margin-left: 90px;
    font-size: 70px;
    text-align: end;
    border-radius: 40px;
    height: 150px;
    max-width: 600px;
    padding-right: 20px;
}

#deletar {
    display: grid;
    grid-column: 3/6;
    text-align: center;
}

#total {
    grid-column: 1/6;
}

#multiplicacao {
    display: grid;
    grid-column: 4/6;
    text-align: center;
    padding-left: 70px;
    padding-right: 90px;
}

.simbolos {
    display: grid;
    grid-column: 4/6;

}

button {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(72, 52, 90);
    color: #fff;
    font-size: 30px;
}

#CE {
    display: grid;
    grid-column: 3/4;
    padding-top: 30px;
}

#C {
    display: grid;
    grid-column: 1/3;
    padding-top: 30px;
}

#tecla0 {
    display: grid;
    grid-column: 1/4;
}
